%top-column {
  max-height: 271px;
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
  padding: 20px;
}

%rating-buttons{
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);
  border-radius: 3px;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  color: white;
}

#nps_o_matic_area{
  display: grid;
  
  #rate_area{
    
    grid-column: 1 ;
    grid-row: 1;

    p{
      font-family: 'SF UI Display';
      font-weight: 400;
      font-size: 20px;
      color: #333E48;
      letter-spacing: 0;
      line-height: 28px;
      margin-bottom: 55px;
    }

    #rating_scores{
      @extend %top-column;
      float: left;

      .new_rating{
        @extend %rating-buttons;
        cursor: pointer;
      }

      .new_rating input[type=submit] {
        background: transparent;
        border: none;
        font-size: 18px;
        color: white;
        margin: 10px;
        cursor: pointer;
      }

      #rating_0_new_rating{
        background: #81AED7;
      }

      #rating_1_new_rating{
        background: #75A7D4;
      }

      #rating_2_new_rating{
        background: #689ED0;
      }

      #rating_3_new_rating{
        background: #5C96CB;
      }

      #rating_4_new_rating{
        background: #4F8EC7;
      }

      #rating_5_new_rating{
        background: #4387C4;
      }

      #rating_6_new_rating{
        background: #367EC0;
      }

      #rating_7_new_rating{
        background: #2976BC;
      }

      #rating_8_new_rating{
        background: #1D6EB7;
      }

      #rating_9_new_rating{
        background: #1166B4;
      }

      #rating_10_new_rating{
        background: #045EB0;
        
        input[type=submit] {
          margin-left: 8px;
        }
      }

    }

    .new_rating{
      float: left;
    }  

    .likely_text{
      font-size: 13px;
      color: #045EB0;
      margin-top: 10px;
      clear: both;
      
      .unlikely{
        float: left;
      }

      .likely{
        float: right;
        margin-right: 10px;
      }
    }
  }


  #appreciate_area{
    grid-column: 2 ;
    grid-row: 1;

    #rate_tally{
      @extend %top-column;
      float: left;

      p{
        float: left;
      }
    
      #nps_score{
        float: left;
        background: image-url('gauge');
        width: 173px;
        height: 172px;
      }
    }


  }

}