%p#ratings= pluralize Rating.count, 'Rating'

%p#promoters_percentage
  = number_to_percentage Rating.promoters_percentage
  Promoters

%p#detractors_percentage
  = number_to_percentage Rating.detractors_percentage
  Detractors

