#ratings_value
  = pluralize Rating.count, 'Rating'

#promoters_percentage
  = number_to_percentage Rating.promoters_percentage
  Promoters

#detractors_percentage
  = number_to_percentage Rating.detractors_percentage
  Detractors

