.row
  .nps-container.column
    .row
      .column
        %h1= t('.title')

    .row
      .column
        = render 'rating_scale'
      .column#appreciate
        = render 'appreciate'
      .column
        = render 'color_legend'
