#container
  .row
    .col
      %h1 NPS-o-Matic

  .row
    .col.ratings
      %p.title.gray Rate!
      .panel
        .row
          %p.recommend How likely would you be to recommend Acme Systems to a friend or colleague?

        .row
          - 0.upto(10) do |i|
            = form_for Rating.new(score: i) do |f|
              = f.hidden_field :score
              = f.submit i

        .row.scale
          .col.textLeft
            %p Very Unlikely
          .col.textRight
            %p Very Likely
      .row.legend
        %p.title.gray NPS Color Legend
        =svg 'color-scale'
    .col.appreciate
      %p.title.gray Appreciate!
      .panel
        = render 'meter', :Rating => Rating
