.row
  .nps-container
    .row
      .card-column.column
        %h1= t('.title')

    .row
      .card-column.column
        = render 'rating_scale'
      .card-column.column#appreciate
        = render 'appreciate'

    .row
      = render 'color_legend'
