%h1.title NPS-o-Matic

= render :partial => "rate"

#appreciateDiv
  = render :partial => "appreciate"

.npsColorLegendSection
  %p.sectionTitle NPS Color Legend
  .colorLegend

  .colorLegendLabels
    - 0.upto(8) do |i|
      .colorLegendLabelBlock
        .colorLegendStroke
        .colorLegendValue #{-100 + (i * 25)}
