%h1 NPS-o-Matic

%div{:class => "main"}
  %div{:class => "left"}
    %p Rate!

    %div{:class => "rating"}
      %p How likely would you be to recommend Acme Systems to a friend or colleague?

      %div{:class => "rating__numbers"}
        - 0.upto(10) do |i|
          = form_for Rating.new(score: i) do |f|
            = f.hidden_field :score
            = f.button i, :type => "button", :class => "ratings__submit"
        %div{:class => "rating__footer"}
          %footer Very Unlikely
          %footer Very Likely


  %div{:class => "right"}
    = render :partial => "appreciate"

%p
  NPS Color Legend
  %div{:class => "color_bar"}
  %img{:src => "../legend_marker.png"}

