$white: #ffffff;
$gray: #999999;
$body-background-color: #F7F8FA;
$border-color: #D0D2D3;
$text-color: #6B787F;
$dark-text-color: #333E48;
$nps-legend-text-color: #9DA5AA;
$likely-text-color: #045EB0;
$detractors-red: #D22953;
$promoters-green: #23D385;
$nps-neutral: #F9BE00;
$nps-background-gradient: linear-gradient(90deg, $detractors-red 0%, $nps-neutral 50%, $promoters-green 100%);
