// Fonts
$main-font: 'SF UI Text', sans-serif;

// Common Colors
$brand-gray: #6b787f;
$operators: #d0d2d3;
$hdg-common: #333e48;

// Rating Buttons
$rating-color-0: #81aed7;
$rating-color-1: #75a7d4;
$rating-color-2: #689ed0;
$rating-color-3: #5c96cb;
$rating-color-4: #4f8ec7;
$rating-color-5: #4387c4;
$rating-color-6: #367ec0;
$rating-color-7: #2976bc;
$rating-color-8: #1d6eb7;
$rating-color-9: #1166b4;
$rating-color-10: #045eb0;

// Legend Colors
$legend-color-0: #d22953;
$legend-color-1: #dd513d;
$legend-color-2: #e6732a;
$legend-color-3: #ef9815;
$legend-color-4: #f9be00;
$legend-color-5: #c7c21e;
$legend-color-6: #93C83F;
$legend-color-7: #62cd5e;
$legend-color-8: #23d385;
