body
  background: $body_background
  color: $body_font_color
  font-family: $font-stack

h1
  font-family: $heading-font-stack
  font-size: 4rem
  color: $title_color


.row
  width: 100%
  margin-left: auto
  margin-right: auto
  margin-top: 0
  margin-bottom: 0
  display: flex
  &:after
    clear: both

.column
  position: relative
  float: left

.nps-container
  width: 100%
  margin-right: auto
  margin-left: auto
  +large-screen
    max-width: 70rem

  .card-column
    padding: 1rem
    +large-screen
      width: 50%

  .card-title
    color: $card_title

  .card 
    border-radius: 3px
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.25)
    background-color: white
    padding: 1rem
    &:after
      clear: both

  .legend
    padding: 1rem

  .rating-row
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-around
    form
      flex: 1 1 auto

  .how-likely
    width: 80%
    margin: 2.5rem 0
    font-size: 1.125rem

  @for $i from 0 through 10
    .new-rating-#{ $i }
      +button-color($i)
  @for $i from -100 through 100
    .rotation-#{ $i }
      transform: rotate(($i * 1.2) * 1deg)

  $scale_list: (0: $scale_0, 12: $scale_12, 25: $scale_25, 37: $scale_37, 50: $scale_50, 62: $scale_62, 75: $scale_75, 87: $scale_87, 100: $scale_100)

  @each $scale_stop, $color in $scale_list
    .total-score-#{ $scale_stop }
      fill: $color
    .score-#{ $scale_stop }
      color: $color

  .new-rating 
    border-radius: 3px
    width: 100%
    position: relative
    text-align: center
    padding: 2% 0
    margin: .125rem
    input[type=submit]
      background: none
      border: none
      color: white
      font-weight: bold

  .scale
    +calculation-gradient
    width: 100%
    border-radius: 13px

  .rating
    color: $dark_blue
    width: 100%
    position: relative

  #appreciate
    .number
      font-size: 2rem
    .word
      font-size: .75rem
    .symbol
      color: $card_title
      padding: 1rem
    .total-rating
      color: white
      position: absolute
      font-size: 2rem
      top: 90px
      right: 100px
    .dial
      position: absolute
      top: 25%
      right: 25%
    .tick
      border-left: 1px solid $card_title
      height: .5rem
      width: .1rem
      @for $i from 0 through 25
        &:nth-of-type(#{$i})
          transform: translate(10rem) rotate((($i - 25) * 5) * 1deg)
  .legend-and-ticks
    padding: 0 1rem
  .legend-scale
    width: 100%
    display: flex
    justify-content: space-between
    padding-top: .5rem
    .scale-marking
      padding-top: .75rem
      border-left: 1px solid $card_title

.left
  float: left

.right
  float: right

.bold
  font-weight: bold

.center
  text-align: center

.margin-below

hr
  border-top: $card_title
  margin: 2rem 0
